* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(to right, #C2C0A6, #A8B545);
}

main {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #77766693;
  width: 600px;
  padding: 10px;
  margin: auto;
}

h1 {
  color: #024554;
  text-align: center;
  text-shadow: 1px 1px 2px #022d369f; 
}

h2 {
  color: #53736A;
}
p {
  text-align: justify;
}