* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background: rgb(153, 209, 153);
}

header {
  background: rgb(33, 139, 33);
  color: white;
  margin: 0px 20px;
}

.titulo {
  padding: 0px 20px 10px 20px;
}
header p {
  padding: 0px 10px 10px 10px;
}

header nav {
  text-align: left;
}
nav a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

main {
  margin: 0px 60px 10px 60px;
  text-align: justify;
  background: white;
  padding: 0 20px;
}
main h1, h2 {
  color: rgb(33, 139, 33);
}
main img {
  width: 100%;
  height: 300px;
}

aside {
  border: 1px solid black;
  background: rgb(155, 209, 155);
  border-radius: 10px;
  padding: 0px 0px 20px 0px;
}

.aprender {
  background: rgb(33, 139, 33);
  border-radius: 10px 0px 0px 0px;
  color: white;
  padding: 10px 0;
}

footer {
  background: rgb(33, 139, 33);
  color: white;
}