@charset "UTF-8";

/* em HTML id, no CSS é # (só pode um elemento)
   em HTML é class, no CSS é . (pode vários elementos) 
   */

body {
  background-color: rgb(87, 87, 37);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: rgb(202, 202, 16);
}

#principal {
  background-color: rgb(58, 116, 58);
  color: aliceblue;
  text-align: center;
}

h2 {
  color: rgb(132, 189, 17);
}

.basico {
  color: green;
}

.intermediario {
  color: blue;
}

.avancado {
  color: red
}

.destaque {
  background-color: aqua;
}

